.deleteBtn{
    background-color: #ce1616;
    border: none;
    border-radius: 6px;
    height: 30px;
    color: white;
    position: absolute;
    right: 0px;
}

.deleteBtn:hover{
    background-color: #6b0b0b;
    color: white;
}

.ulSection{
    list-style-type: none;
    width: 300px;
    padding-left: 0;
}

.liItem{
    width: 100%;
    height: 40px;
    position: relative;
}